@importar url(' https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap' );

:raiz {
--cor-de-fundo: #1E1E1E;
--verde: #6FFF57;
--branco: #FFFFFF;
--botao-ativo: #3A375E;
--botao-inativo: rgba(58, 55, 94, 0,5);
--texto-fundo: rgba(58, 55, 94, 0,3);
}

corpo {
cor de fundo: var(--cor-de-fundo);
cor: var(--branco);
família de fontes: 'Chakra Petch', sem serifa;
}


.conteudo-principal {
exibição: flexível;
direção flexível: coluna;
justificar-conteúdo: centro;
alinhar itens: centro;
largura máxima: 1200px;
largura: 100%;
margem: 0 automático;
}

.titulo-principal {
alinhamento de texto: esquerda;
largura: 100%;
tamanho da fonte: 32px;
}

.titulo-principal span {
cor: var(--verde);
}


.botão {
família de fontes: 'Chakra Petch', sem serifa;
cor de fundo: var(--botao-inativo);
cor: var(--branco);
exibição: flexível;
justificar-conteúdo: centro;
preenchimento: 1em;
tamanho da fonte: 18px;
alinhar itens: centro;
largura: 100%;
border-bottom: 4px sólido var(--botao-ativo);
borda esquerda: 2px sólido var(--botao-ativo);
borda direita: 2px var sólido(--botao-ativo);
borda superior: nenhuma;
}

.botao:primeiro-filho {
raio da borda: 40px 40px 0 0;
}

.botoes {
exibição: bloco;
}

.botao.ativo{
cor de fundo: var(--botao-ativo);
borda inferior: 4px var sólido (--verde);
}

.abas-textos{
cor de fundo: var(--texto-fundo);
preenchimento: 40px;
raio da borda: 0 0 40px 40px;
}
.aba-conteudo.ativo{
exibição: bloco;
}

.aba-conteudo{
Mostrar nenhum;
}

.aba-conteudo-titulo-principal{
tamanho da fonte: 28px;
alinhamento de texto: centro;
}
.aba-conteudo-título-secundario{
alinhamento de texto: centro;
cor: var(--verde);
transformação de texto: maiúscula;
}

.contador{
exibição:flexível;
justificar-conteúdo: centro;
flex-wrap: envoltório;
}
.contador-digito{
preenchimento: 0 16px;
alinhamento de texto: centro;
largura mínima: 100px;
}

.contador-dígito-número{
tamanho da fonte: 80px;
margem: 0;

}

.contador-digito-texto{
cor: var(--verde);
tamanho da fonte: 20px;
margem: 0;

}

@media screen e (largura mínima: 768px) {
.botoes {
exibição: flexível;
}

.botao:primeiro-filho {
raio da borda: 40px 0 0 0;
}

.botao:último-filho {
raio da borda: 0 40px 0 0;
}
}
